@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --font-inter: var(--font-inter);
  --font-manrope: var(--font-manrope);

  --color-core-blue: #003087;
  --color-violet-accent: #6A5CFF;
  --color-blue-accent: #0F6EEF;
  --color-off-white: #F9FAFB;
  --color-gris-ui: #F4F6FA;
  --color-black: #0F172A;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F9FAFB;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}